.Calculate-SPI {
    background-color: rgb(93, 166, 226);
    color: aliceblue;

    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
table , th ,td{

position: relative;
margin-left: auto;
margin-right: auto;
border: 1px solid black;
align-content: center;
}
table{
    margin-top: 5px;
}
.sub{
    text-align: left;
}
td{
text-align: center;
}
tr{
    transition: background-color 0.2s;
}
tr:hover {background-color: #e1eed6;}
.main{
background-color: #c4e6cb;
}
#s1,#s2,#s3,#s4,#s5,#s6,#s7,#s8{
border-color: rgb(0, 0, 0);
color:rgb(255, 255, 255);
border-radius: 16px;
padding-left: 25px;
padding-right: 25px;
padding-top: 8px;
padding-bottom: 8px;
background-color: rgb(59, 82, 173);
cursor: pointer;
}
.navinfo{
background-color: #052056;
font-size: xx-large;
text-align: center;
padding-bottom: 1px;
}
.navhr{
color: #E6DDC4;
}
.navt{
padding-top: 20px;
vertical-align: middle;
color: #E6DDC4;
}
.navsub{
font-size:large;
vertical-align: middle;
color: #E6DDC4;
}